<div class="container">
  <div class="page-header">
    <h1>Hakkımızda</h1>
  </div>
  <h3>Kullanım Şartları</h3>
  <p>Bu havuzu kullanarak deneysel nitelik taşıyan yazılımlar neticesinde olası kayıpları kabul etmiş sayılırsınız.<br/>
     Havuz sahibi olası geri döndürülemez kayıplardan sorumlu tutulamaz.Kullanıcılarımıza bol kazançlar dileriz.
  </p>
  <h3>Detaylar</h3>
  <p>
    <ul>
      <li>Android Mobil Uygulama Desteği</li>
      <li>Türkiye Lokasyonlu Sunucu</li>
      <li>Hızlı ve Düzenli Ödemeler</li>
      <li>Telegram Destek Gurubu</li>
      <li>Sizde Bizimle Kazanın!</li>
    </ul>
  </p>
</div>
